BODY { background-color: #DDDDDD; margin:2px;margin-top:0px;}
BODY, P, TABLE, TD, FORM, INPUT, SELECT, TEXTAREA, OL, UL, LI { 
	font-size : 12px;
	font-family : Arial,Helvitica,sans-serif;
	color : Black; }
	
SELECT, INPUT, TEXTAREA, .uneditable { font-size: 11px; padding: 2px; border: 1px solid black; background-color: #FCF1DB; vertical-align: middle; font-style:normal;}
SELECT{padding:0px;}
TEXTAREA:Focus,SELECT:Focus,INPUT:Focus{background-color:#FCF7EB;}
INPUT[disabled],SELECT[disabled]{background-color:#666666;color:#EFEFEF; background-image:none;}
INPUT[disabled]:Active{border:1px outset black;}
FORM{margin:0px;padding:0px;}
DIV {padding:3px;}

A {	color : #850606; text-decoration:none; font-weight:bold;}
A:Hover { background-color: #850606; color:white; text-decoration:none;}
A:Active { background-color: #850606; color:white;}

/* ============================================================================== */
/* Form Elements                                                                  */
/* ============================================================================== */

.uneditable,.uneditable:Focus {background-color:transparent;}
.radiochecks ,.radiochecks:Focus{background-color:white;color:black; border:0;}

.Buttons,.smallButtons {
	background-image:url(buttons.gif);
	background-color:#595CA6;color:#FFFFFF; font-size: 11px;  font-weight:bold; 
	border: 1px solid black;
	border-top-color:#999999;
	border-left-color:#999999;
	cursor:pointer;
}
.Buttons:Focus,.smallButtons:Focus,.Buttons:Hover,.smallButtons:Hover{
		background-color:#242872; 
		background-image:url(buttons-active.gif); 
		border:1px solid #009900;
}
.Buttons[disabled]:Hover,.smallButtons[disabled]:Hover{
	/* first three entries are from disabled, the last are from standard buttons */
	/* this disables hover for disabled buttons */
	background-color:#666666;color:#EFEFEF; background-image:none;
	border: 1px solid black;
	border-top-color:#999999;
	border-left-color:#999999;
}
.Buttons:Active,.smallButtons:Active{background-color:#765E7F; 
	border: 1px solid black; 
	border-bottom-color:#999999;
	border-right-color:#999999;		
	background-image:none;	
}
.smallButtons{font-size:10px}



/* ============================================================================== */
/* Font size/standouts                                                            */
/* ============================================================================== */

.huge{font-size : 17px;}
.large{font-size : 16px;}
.small { font-size : 11px;}
.tiny { font-size : 10px}
.mono {font-family:'Courier New', Courier, mono;width:100%;font-size:12px;}

.ident { padding-left: 3px;}
.standout	{ background-color:#850606; color:white; font-weight:bold; font-size:14px;}
.important {font-weight:bold;}

/* ============================================================================== */
/* Boxes                                                                          */
/* ============================================================================== */
.bodyline,.untabbedbox,.tabselected,.tabs,.tabbottoms,.box,.recordbottom{ 
	border: 2px #242872 solid; 
	padding:0px;
}
.bodyline,.untabbedbox,.tabselected{
	background-color: #FFFFFF; 
}

.untabbedbox{border-top-width:0px;}
.box,.recordbottom{
	background-color:#EEEEEE;
	border-color:#CCCCCC;
	margin:3px;
	margin-bottom:7px;
	padding:3px; 	
	
}
H1, .searchtitle, .addedittitle{
font-family: "Bitstream Vera Sans", Arial, Helvitica, sans-serif;
	font-size:22px;
	letter-spacing:-2px;
	margin:0px;
	margin-bottom:10px;
	font-weight:bold;
}
H1, .addedittitle{border-left:3px white solid; border-bottom:1px #850606 solid; border-right:3px white solid;}
H2{border-bottom: 2px #850606 solid; padding-left:3px; margin:0px; margin-top:30px; margin-bottom:5px;font-size:16px; letter-spacing:-1px;}
/* ============================================================================== */
/* Tabs                                                                       */
/* ============================================================================== */
.tabselected	{ 	
					padding:3px;
					border-bottom-width:0px;
					-moz-border-radius-topleft:8px;
					-moz-border-radius-topright:8px;
					font-weight:bold;
				}
.tabs	{ 	padding:3px;
			font-size:11px;
			background-color:#EEEEEE; 
			color:#242872; 
			border-top-width:1px; 
			border-left-width:1px; 
			border-right-width:1px; 
			-moz-border-radius-topleft:8px;
			-moz-border-radius-topright:8px;
		}
.tabs a:hover {background-color: #242872; color:white;}
.tabbottoms	{	
				border-top-width:0px; 
				border-left-width:0px; 
				border-right-width:0px; 
			}


/* ============================================================================== */
/* Query Results                                                                  */
/* ============================================================================== */

.row1{background-color:#E5E5E5;}
.row2{background-color:#EEEEEE;}


.dottedline { border-bottom: 2px #AAAAAA dotted;}

.buttonSectionTitles{border: 1px #242872 solid; border-bottom: 0; font-size:11px; padding:1px; padding-bottom:0px;}
.buttonSection{border: 1px #242872 solid; border-top:0; border-bottom:0; padding-left:1px; padding-right:1px; padding-bottom:1px;}

.recordbottom{margin-bottom:3px;}
.norecords {background-color:#DDDDDD; font-size:16px; padding:50px; font-weight:bold; }


/* ============================================================================== */
/* Searches                                                                       */
/* ============================================================================== */
.querytable{ border: 2px #242872 outset;}
.querytable td, .queryrow1 td, .queryrow2 td{ 
				border-top:0px;
				border-right: 1px #666666 solid; 
				border-bottom: 1px #E5E5E5 solid; 
				font-size: 11px;
				padding-top:1px;
				padding-left:3px;
				padding-right:3px;
			}

.queryheader{
	font-weight:bold;
	background-color:#242872;
	color:white; 
	border-right:1px inset white;
	padding:4px;
	background-image:url(tableheader.gif);
}

.queryheader A{color: white;}
.queryheader A:hover{color: white;}
.queryheader A:active{color: white;}
.queryheader A:visited{color: white;}
.querytable td.queryfooter, .queryfooter{background-color:#FCF1DB; font-weight:bold; border-top: 3px black double; border-right:0}

.qr1 td,.qr2 td{background-color:#E5E5E5;
			cursor: pointer; 
            cursor: hand;
}

.qr2 td{background-color:white;}
tr.qr1:Hover, tr.qr2:Hover{background-color:#FCF1DB;}

.qh1, .qh2{background-color:black; cursor: pointer; cursor: hand;}
.qh1 td, .qh2 td{color:white; border-right-color: white; border-bottom-color: white;}


/* ============================================================================== */
/* Auto Fill                                                                      */
/* ============================================================================== */

	.autofillField{
		background-image:url(magnify.gif);
		background-repeat:no-repeat;
		background-position:right;
		background-origin: border;
	}
	.autofillDropDown{
		border: 1px solid black;
		padding:1px;
		position:absolute;
		background-color:white;		
	}
	.autofillDropDown td{font-size:11px; padding:1px;}
	.af-choice{font-weight:bold}
	.af-extra{color:red;}
	.af-highlighted{background-color:blue;}
	.af-highlighted td{color:white;}


/* ============================================================================== */
/* Menu Navigation                                                                */
/* ============================================================================== */
	#appname{
		float:left;
		padding-top:6px;
		font-weight:bold;
		font-size:16px;
	}

	#menu{
		margin-bottom:3px;
		background-color:#242872;
		border:2px solid #242872;
		color:white;
	}
	#menu td,#menu form{color:white;}
	
	  .mainmenuitems {
		font-weight: bold; 
		cursor: pointer; 
		cursor: hand;
		padding:0px;			
		background-color:#595CA6;
	 }
	.mainmenuitems a{
		color:white;
		display:block;
		padding:3px;
		padding-left:7px;
		border: 1px solid #242872;
	}
	.mainmenuitems a:hover{border: 1px solid white;}
	
	.submenuitems {
		position:absolute;
		background-color:white;
		padding:2px;					
		line-height:11px;
		border:1px solid black;
	}
	.submenuitems a{display:block; 
		margin-bottom:1px;
		padding:2px;
		font-size:11px;
		font-weight:normal;
		color:black;
	}
	.submenuitems a:hover{color:white}
	
/* ============================================================================== */
/* Calendar                                                                       */
/* ============================================================================== */
	.calendartable {
		border: 2px #242872 outset;
	}
	
	.calendartable td a{
		padding-top:4px;
		padding-bottom:4px;
		display:block;
	}

	.calendartable td a:hover{
		background-color:black;
		color:white;
	}

	.today{background-color:#FFFFCC;}
	.weekend{background-color:#E5E5E5;}
	.othermonths{background-color:#999999;color:white; font-weight:normal;}
	.dayofweek{
		font-weight:bold;
		background-color:#242872;
		color:white; 
		border-right:1px inset white;
		padding:4px;
		background-image:url(tableheader.gif);
	}
	.regulardays{background-color:white;}
	.regulardays,.today,.dayofweek,.weekend{
		border-right: 1px #666666 solid; 
		border-bottom: 1px #E5E5E5 solid; 
		font-size: 11px;
	}			