.rclLinks{
        margin:0;
        cursor:pointer;font-size:13px;background:#EEEEEE url("../../image/section-down.png") 99% 3px no-repeat;
        padding:4px 8px;
}

.rclLinks:hover{
        background-color:#DDDDDD
}

.rclDivs th{
    font-size: 11px;
}

.rclDivs .queryGroup td {
    font-size: 12px;
}
