/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

#topButtons{float:right;width:200px;}
#h1Title{margin-right:230px;}

#rightSideDiv{clear:both;float:right;width:200px;}
#leftSideDiv{padding-top:1px;margin-right:210px;}

#id, #becameclient, #ccnumber, #ds-taxareaid, #comments{width:98%}
#type, #category, #leadsource,#paymentmethodid,#shippingmethodid,#discountid,#taxareaid{width:99%}
#ds-salesmanagerid{
	width:90%
}

#backtoorderP{padding-top:9px;}
#gotoinvoice{width:100%}

#firstnameP{float:left;}

.phonelefts{float:left}
#address1{margin-bottom:2px;}

.csz{float:left}

/* ------------------------ */
/* sales history            */
/* ------------------------ */
.timelineP{float:left}
#printP{float:right;}
#print{width:80px;}
#changeTimelineP{}