/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

#topButtons{float:right;width:160px;}
#topTitle{margin-right:168px;}

#fsID{clear:both;float:right;width:180px;}
#id{width:98%}
#leftSideDiv{padding-top:1px;margin-right:208px;}
#fsUser{clear:both;}
#subject,#body{width:99%}

