/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#topTitle{}

#showsavedsearches{display:none;}
#toP{float:left;}
#fromDiv{clear:both;}
#subject,#body{width:99%}

#loadedprojects{display:none;}
#projectButtons{float:left}
#sendemail,#cancel{width:90px;}
#othercommand{display:none}

#saveInput{width:98%}
#saveSave,#saveCancel{width:75px;}

#mainBG, #footer{
	width:585px;
	margin: 0 auto;
}

#done{width:75px;}
#beginprocessing{width:125px;}
#processP{float:left; line-height:22px}
#processingWrap{text-align:center;}
#clearDiv{clear:both;}
.noselects{cursor:auto}
