/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

#topButtons{float:right;width:200px;}
#topTitle{margin-right:208px;}

#fsAttributes{clear:both;float:right;width:200px;}
#leftSideDiv{padding-top:1px;margin-right:218px;}

#id,#content{width:98%}
#fileidlabel{display:none;}