/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#container{width:740px; margin:10px auto}
#phpBMSLogo{
	float:right;
	background:white url(../../../image/logo-large.png) 10px 10px no-repeat;
	padding:77px 10px 10px 10px;
	margin-right:20px;
	width:250px;
	text-align:right;
}
#companyInfo{margin-right:190px;}
#loginButton{width:100px;}