/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#container{
	width:740px; margin:10px auto
}

#phpBMSLogo{
	float: right;
	background: white url("../../../image/logo-large.png") 10px 10px no-repeat;
	padding: 77px 10px 10px 10px;
	width: 250px;
	text-align: right;
}

#companyInfo{
	margin-right:260px;
}

#loginButton{
	padding-right: 15px;
	padding-left: 15px;
}
