/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#container{width:740px; margin:10px auto;}
p{margin:0;padding:0px 10px 10px;}

.results{width:98%;font-family:'Courier New', Courier, mono;font-size:13px;}
