/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

/* The following lines is put in  until the site is reformatted*/
LABEL{display:inline;margin:0;padding:0}
DIV{padding:0;margin:0;}
P,.fauxP{margin:0;padding:0 5px 10px;}
.alt{display:none;}
.bodyline{display:block}
/* The following lines is put in  until the site is reformatted*/

#h1WithPrint{margin-right:230px;}
#h1WithoutPrint{margin-right:160px;}

#topButtons{float:right;width:217px;}
#printButton{ text-align:right;float:left;}
#printButton input{width:75px;}

#address1,#address2,#country,#leadsource{width:364px;}

#fsAttributes{clear:both;float:right;width:260px;}
#attributesRight{float:right;padding-top:0px;}
#type{width:90px}
#statusid{width:98%}
#ds-assignedtoid{width:99%}


#fsTops{margin-right:270px;}
#address1{margin-bottom:2px;}
.cszP{float:left;}
#countryP{clear:left;}

#lineItemsFS{clear:both;}

#LITable{}
#LIHeader th{
	background:#455372;
	border:1px solid #999999;
	padding:3px 9px;
	color:white;
}
#LISep td{ height:2px;font-size:1px;padding:0px;}
.LIRealInfo{display:none;}

#ds-partnumber{width:90px;}
#ds-partname{width:120px;}
#price{width:60px;}
#memo{width:100%}
#qty{text-align:center;width:50px;}
#extended,.fieldTotal{width:75px;}

.fieldTotal{height:16px;}
.lineitems td{height:22px; font-size:11px; vertical-align:top;padding-left:4px;}
.lineitemsRight{ border-right:1px solid #CCCCCC;}
.lineitemsLeft{ border-left:1px solid #CCCCCC;}
.lineitemsBottom{ border-bottom:1px solid #CCCCCC;}
.totalItems,.invoiceTotalLabels,#parenInfo div span{border-bottom:1px solid #CCCCCC}
.invoiceTotalLabels{padding-left:25px;}
.invoiceTotalLabels div{height:24px; line-height:24px;vertical-align:bottom;}


#parenInfo div{height:25px;clear:right;}
#parenInfo div span{
	display:block;
	float:right;
	line-height:24px;height:24px;
	padding:0 4px;
	color:#666666;
}

#totalSpacer{height:55px;line-height:55px;border:0;}
#totalSpacer span{border:0;}
div #parenSpacer{height:55px;clear:right}
div #parenSpacer span{height:55px;line-height:55px;border:0;}


.vTabs,.vTabsHover{cursor:pointer;color:#455372;background:url(../image/button-rew.png) 5px 4px no-repeat;}
.vTabsHover,.vContent{background-color:#DDDDDD;}
.vContent{display:none;padding:8px; text-align:left;float:right;width:360px;}
.vContent fieldset{margin:0;}

#shippingNotice,#paymentNotice{display:none;}
#shippingNoticeResults,#paymentNoticeResults{width:98%}
#pTotalweight{float:right}
#ccpaymentinfo,#checkpaymentinfo,pTransactionid{display:none;}
#fieldCCNumber,#fieldCCExpiration{float:left;}
#pCheckNumber,#pAccountNumber{float:right;}


#fsInstructions{clear:both;}
#specialinstructions,#printedinstructions{width:99%}

