/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

#topButtons{float:right;width:160px;}
#h1Title{margin-right:165px;}

#fsAttributes{float:right;width:200px;}
#id{width:98%}

#leftSideDiv{margin-right:208px;}
#details{clear:both;}
.typeP{float:left;padding-right:20px}
.typeImage{border:1px solid #999999;display:block;margin-top:5px;}