/* $Rev: 170 $ | $LastChangedBy: brieb $ */
/* $LastChangedDate: 2006-11-10 19:49:30 -0700 (Fri, 10 Nov 2006) $ */
#topButtons{float:right;width:160px;}
#topTitle{margin-right:170px;}

#nameP{font-size:14px; font-weight:bold;padding-top:8px;}