#lookupByP{float:left; width:100px;padding-top:2px;}
#lookupButtonsP{float:right;width:148px;padding-top:12px;text-align:right;}
#dolookup,#addnew{width:70px}
#lookupWhatP{margin:0 154px 0 108px;}
.lookupWhats{width:99%}
.disabledP{display:none;}