/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#topButtons{float:right;width:160px;}
#topTitle{margin-right:170px;}

#fsAttributes{float:right;width:200px;}
#id{width:98%}

#leftSideDiv{margin-right:228px;}
