/* $Rev: 176 $ | $LastChangedBy: brieb $ */
/* $LastChangedDate: 2006-12-27 18:40:19 -0700 (Wed, 27 Dec 2006) $ */

#topButtons{float:right;width:160px;}
#h1Title{margin-right:165px;}

#fsAttributes{float:right;width:200px;}
#id{width:98%}

#leftSideDiv{margin-right:230px;padding-top:1px;}

.crontabnotation{float:left;}
#standarNotationP{clear:left}
#description{width:99%}