/* $Rev: 151 $ | $LastChangedBy: brieb $ */
/* $LastChangedDate: 2006-10-22 14:34:45 -0600 (Sun, 22 Oct 2006) $ */
#topButtons{float:right;width:160px;}
#topTitle{margin-right:170px;}

#fsAttributes{float:right;width:200px;}
#id,ds-moduleid{width:98%}

#leftSideDiv{margin-right:228px;padding-top:1px;}

#querytable,#defaultwhereclause,#defaultsortorder,#defaultcriteriafindoptions,#defaultcriteriaselection{width:98%}
