/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#topButtons{float:right;width:160px;}
#topTitle{margin-right:170px;}

#fsAttributes{float:right;width:200px;}
#id{width:98%}

#leftSideDiv{margin-right:228px;padding-top:1px;}
#firstnameP{float:left;}

#assignedrolesdiv{float:left; padding-right:10px;}
#assignedroles,#availableroles{width:150px;}

#rolebuttonsdiv{float:left;padding-top:20px;;padding-right:10px;}
#rolebuttonsdiv button{width:100px;}

#availablerolesdiv{}