/* $Rev: 145 $ | $LastChangedBy: mipalmer $ */
/* $LastChangedDate: 2006-10-21 18:27:44 -0600 (Sat, 21 Oct 2006) $ */

#topButtons{float:right;width:160px;}
#h1Title{margin-right:160px;}
#fsAttributes{clear:both;float:right;width:150px;}
#id{width:90%}
#nameDiv{margin-right:185px;}
