/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

#topButtons{float:right;width:180px;}
#h1Title{margin-right:190px;}
#fsAttributes{clear:both;float:right;width:180px;}
#id{width:90%}
#leftDiv{margin-right:210px;}
#description{width:99%}