/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */
#topButtons{float:right;width:160px;}
#topTitle{margin-right:170px;}

#fsAttributes{float:right;width:200px;}
#id,#type{width:98%}

#leftSideDiv{margin-right:228px; padding-top:1px;}

#sqlclause{width:99%}

#savecancel2{text-align:right;float:none;}