/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

fieldset,.bodyline,.box{
	border: 1px solid #ACB7C4;
	padding:5px;
	margin-bottom:5px;
}
.bodyline,#modalBox{
	background:#E4ECEC url("image/bodyline.png") bottom left repeat-x;
	margin-left:8px;
	margin-right:8px;
}

.bodyline{
	clear:both;
	border-color:#CAD1D1;
        border: none;
	padding:10px;
}

fieldset,.box{
/*	margin:3px 3px 7px 3px;*/
}

fieldset{
/*	padding:4px 8px;*/
	overflow:hidden;
}

.box{
	background-color:#EFF9F9;
	border-color:#CCCCCC;
}
