/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

#menu{
	clear:both;
	padding:0px;
	background:url("image/menu.png") repeat-x;
	color:white;
	margin:0 0 10px;
}

#menu a, #topMenu a:hover{
	color:white;
	text-decoration:none;
}

#menu a:hover{
	text-decoration:underline;
}


#menu h1{
	background:none;
	float:left;
	margin:0;
	padding:5px 10px 7px;
	padding-left:15px;
	font-weight:bold;
	font-size:22px;
	border:0;
}

#menuRighthand{
	float:right;
	padding:14px 15px 0 0;
}




#menuBar {
	background:#E4ECEC url("image/bodyline.png") bottom left repeat-x;
	display:block;
	clear:both;
	border-bottom:1px solid #ACB7C4;
	margin:0;
	padding:0 0 0 5px;
	height:26px;
}
#menuBar li{
	display:block;
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}


#menuBar .firstLevel a{
	display:block;
	float:left;
	color:black;
	font-size:12px;
	font-weight:normal;
	padding:6px 10px;
	height:15px;
	outline:none;
}

#menuBar .firstLevel a:hover, #menuBar a.hovered{
	text-decoration:none;
	background-color:#663366;
	color:white;
}

.submenusli{padding:0;margin:0;}

.submenuitems{
	clear:left;
	display:none;
	padding:2px 2px 4px 2px;
	margin-top:-1px;
	position:absolute;
	z-index: 100;
	background-color:white;
	border:1px solid #999999;
}
#menuBar .submenuitems li{float:none;}
#menuBar .submenuitems a{
	float:none;
	border:0;
	background-image:none;
	margin:0px;
	display:block;
	padding:3px 25px 3px 15px;
	font-size:11px;
	color:black;
	white-space:nowrap;
	font-weight:normal;
}
#menuBar .submenuitems .menuSep {border-top:1px solid #AAAAAA; padding-top:3px;margin-top:3px;}

#menuBar .submenuitems a:hover{
	text-decoration:none;
	background-color:#663366;
	color:white;
}

#statusmessage{
	background:#0B63A2 url(image/statusm-right.png) bottom right no-repeat;
	margin:15px;
	margin-top:-20px;
	padding:0 5px 0 0;
	display:none;
}
#SMLeft{background:url(image/statusm-left.png) bottom left no-repeat;padding-bottom:5px;}
#SMText{
	background:url("image/statusmessage.png") 7px 5px no-repeat;
	color:white;
	font-weight:bold;
	font-size:15px;
	padding: 5px 5px 0px 30px;
}

/* ------ Help Page  ---- */
#helpBox{background:white}
#helpClose{
	padding-left: 15px;
	padding-right: 15px;
}
