/* $Rev: 308 $ | $LastChangedBy: brieb $ */
/* $LastChangedDate: 2007-09-17 12:30:10 -0600 (Mon, 17 Sep 2007) $ */

#topButtons{
    float:right;
    width:160px;
}

#topTitle{
    margin-right:170px;
}

#fsTop{
    clear:both;
}

#idP{
    float:right;
}


#subject{
    width:100%
}

#leftSideDiv{
    margin-right: 328px;
    margin-top: 10px;
}

#rightSideDiv{
    float: right;
    width: 320px;
}

#timeStampP{
    padding-bottom: 3px;
}

#private{margin-left:15px;}

#starttext,#endtext{padding-left:30px;}

#thecompleted{padding:10px 7px 0px;}
#ds-assignedtoid{width:96%}
#assignedbydisplay{width:96%}

#theassociated{display:none;}
#assocarea,#location{width:98%}
#category{width:95%}

#content{width:99%}

#repeatDiv{clear:both;}
.monthDays{width:30px;}
.yearlyMonths{width:40px;}
