h2{
	margin: 0;
	padding: 3px 2px 0;
	border:0;
	font-size:15px
}

#systemMessageContainer{
	background: #0B63A2 url("../../image/statusmessage.png") no-repeat 7px 6px;
	color: white;
	padding: 4px 10px 10px;
	margin:0 0 8px;
}

	#systemMessageContainer h2{
		color: white;
		margin: 0 0 5px 20px;
                padding: 0 0 4px;
		font-size: 15px;
	}


.systemMessageLinks{
	margin:0;
	cursor:pointer;
	background:#EEEEEE url("../../image/section-down.png") 99.5% 80% no-repeat;
	padding:4px;
	border-bottom:1px solid #BBBBBB;
	color: black;
}

	.systemMessageLinks:hover{
		background-color:#DDDDDD
	}

	.systemMessageLinks h3{
		font-size:13px;
		margin:0;
	}

	.systemMessageLinks div{
		margin-top:2px;
		font-size: 10px;
		color: #666666;
	}

.systemMessageLinks span{
	color:#666666;
	font-size:11px;
	padding:0 0 0 4px;
}

.systemMessages p{
	padding:8px;
	margin:0 5px 10px;
	background:white;
}

/* Widget Area */
/* ========================================================================= */
#bigArea{
    width: 70%;
    float:left;
}
    #bigArea.littleLeft{
        float: right;
    }

    #bigArea .widgets{
        margin: 0 10px 10px 0;
    }

        #bigArea.littleLeft .widgets{
            margin: 0 0 10px 10px;
        }

#littleArea{
    width:30%;
    float:right;
}

    #littleArea.littleLeft{
        float: left;
    }

    #littleArea .widgets{
        margin: 0 0 10px 10px;
    }

        #littleArea.littleLeft .widgets{
            margin: 0 10px 10px 0;
        }

#widgetContainer{
    background: url("../../image/snapshot-separator.png") repeat-y 70% 0;
}

    #widgetContainer.littleLeft{
        background-position: 30% 0;
    }

#clearer{
    clear: both;
    height: 10px;
    overflow: hidden;
}

.widgets{
    margin: 0;
    padding: 0;
}

    .widgets h2{
        margin: 2px 4px 5px;
    }

/* Widget Configure Area */
/* ========================================================================= */

.configure{
    height:20px;
}

    #littleArea .configure{
        margin-left: 10px
    }

        #littleArea.littleLeft .configure{
            margin-left: 0;
        }

    #bigArea.littleLeft .configure{
        margin-left: 10px;
    }

    .configure div{
        position: absolute;
        background: white;
        padding: 8px;
        display: none;
        border: 1px solid #999999;
        z-index: 100;
    }

    .configure div button{
        padding-left: 15px;
        padding-right: 15px;
    }

.configureButtons{
    display: none;
    width: auto;
    padding-left: 16px;
}

.widgetOptions{
    float:right;
    padding: 6px 6px 0 0;
    display:none;
}
