@import url(basics.css);
@import url(forms.css);
@import url(sizes.css);
@import url(boxes.css);
@import url(tabs.css);
@import url(queryresults.css);
@import url(autofill.css);
@import url(menu.css);
@import url(modal.css);
@import url(calendar.css);



#footer{
	margin-top:-3px;
	padding-left:6px;
	padding-right:6px;
	font-size:10px;
	padding-top:0px;
}
#footer p{padding:0px;margin:0px;}
#footerAbout{float:left;}
#footerTop{float:right;}


/* ============================================================================== */
/* Query Results                                                                  */
/* ============================================================================== */

/* ============================================================================== */
/* Auto Fill                                                                      */
/* ============================================================================== */

	.autofillField{
		background-image: url("image/magnify.gif");
		background-repeat:no-repeat;
		background-position:right;
		/* background-origin: border; Commented out as of firefox 1.5*/
	}

	.AFDropDowns{
		position:absolute;
		padding:2px 2px 4px 2px;
		background-color:white;
		border:1px solid #999999;
	}
	.AFDropDowns UL{margin:0;padding:0}
	.AFDropDowns LI{margin:0;padding:0;list-style-type:none;}
	.AFDropDowns a{
		color:#663366;
		white-space:nowrap;
		display:block;
		padding:3px 25px 3px 10px;
		font-size:11px;
	}
	.AFDropDowns a:hover, .AFDropDowns a.AFDropDownItems{text-decoration:none;background:#663366;color:white;}
	.AFDropDowns a span{font-size:10px;color:#999999;font-weight:normal;margin-left:5px;}

/* ============================================================================== */
/* Choice List                                                                    */
/* ============================================================================== */
	.choiceListBlank{ font-style:italic;}
	.choiceListModify{ background-color:#999999; font-weight:bold;}

	#MLListP{float:left;padding-right:0}
	#MLList{}
	#MLAddDelP{float:right;padding-left:0}
	#MLDelete, #MLInsert, #MLaddeditbutton{width:55px;}
	#MLDelete{margin-bottom:2px;}
	#MLlist, #MLaddedit{width:200px;}
	#MLAddTextP{clear:both;float:left;padding-right:0}
	#MLAddP{float:right;padding-left:0}
	#MLStatus{clear:both;text-align:center}
	

/* ============================================================================== */
/* Quick View                                                                     */
/* ============================================================================== */
	.selectListItems{ border-bottom: 1px solid #666666; background-color:white;}
	.Order{ font-weight:bold;}
	.Quote{ font-style:italic;}
	.Invoice{ background-color:#EEEEEE;}
	.VOID{ color:blue; background-color:#EEEEEE;}

/* ============================================================================== */
/* Save/Cancels                                                                   */
/* ============================================================================== */
	.saveCancels{text-align:right;}
	#saveButton1,#saveButton2{width:68px;margin-right:3px;}
	#cancelButton1,#cancelButton2{width:68px;}