@import url(basics.css);
@import url(forms.css);
@import url(sizes.css);
@import url(boxes.css);
@import url(tabs.css);
@import url(queryresults.css);
@import url(autofill.css);
@import url(menu.css);
@import url(modal.css);
@import url(calendar.css);



#footer{
	margin-top:-3px;
	padding-left:6px;
	padding-right:6px;
	font-size:10px;
	padding-top:0px;
}
#footer p{padding:0px;margin:0px;}
#footerAbout{float:left;}
#footerTop{float:right;}


/* ============================================================================== */
/* Query Results                                                                  */
/* ============================================================================== */

/* ============================================================================== */
/* Auto Fill                                                                      */
/* ============================================================================== */

	.autofillField{
		background-image: url("image/magnify.gif");
		background-repeat:no-repeat;
		background-position:right;
		/* background-origin: border; Commented out as of firefox 1.5*/
	}
	.autofillDropDown{
		border: 1px solid black;
		padding:1px;
		position:absolute;
		background-color:white;		
	}
	.autofillDropDown td{font-size:11px; padding:1px;}
	.af-choice{font-weight:bold}
	.af-extra{color:#999999;}
	.af-highlighted{background-color:#666666;}
	.af-highlighted td{color:white;}

/* ============================================================================== */
/* Choice List                                                                    */
/* ============================================================================== */
	.choiceListBlank{ font-style:italic;}
	.choiceListModify{ background-color:#999999; font-weight:bold;}

/* ============================================================================== */
/* Quick View                                                                     */
/* ============================================================================== */
	.selectListItems{ border-bottom: 1px solid #666666; background-color:white;}
	.Order{ font-weight:bold;}
	.Quote{ font-style:italic;}
	.Invoice{ background-color:#EEEEEE;}
	.VOID{ color:blue; background-color:#EEEEEE;}
