LABEL{display:block;padding:2px;}
FIELDSET,.bodyline,.box,#modalBox{ 
	-moz-border-radius:8px;
	border: 1px #E4ECEC outset; 
	padding:0px;
	margin-bottom:5px;
}
.bodyline,#modalBox{
	background-color: #E4ECEC; 
	background-image: url("image/bodyline.png");
	background-repeat:repeat-x;
	background-position:bottom left
}

.bodyline{
	border-color:#ABB1B1;
	border-style:solid;
	-moz-border-radius:0;
	padding:10px;margin-top:0px;
}

FIELDSET,.box{
	border-color:#74879C;
	border-width:1px;
	border-style:solid;
	margin:3px 3px 7px 3px;
	padding:5px; 		
}
FIELDSET{padding-top:0px}
.box{
	background-color:#EFF9F9;
	border:1px solid #999999;	
}