
SELECT, INPUT, TEXTAREA, .uneditable, .fieldtext { 
	border: 1px solid #9097A2;
	font-size: 11px; padding: 2px;  background-color: #D9DBE1; vertical-align: middle; font-style:normal;
}
SELECT{padding:0px;}
TEXTAREA:Focus,SELECT:Focus,INPUT:Focus{background-color:white;}
INPUT[disabled],SELECT[disabled]{background-color:#AAAAAA;color:#EEEEEE; background-image:none;}
INPUT[disabled]:Active{border:1px outset black;}
FORM{margin:0px;padding:0px;}


.uneditable,.uneditable:Focus {background-color:transparent;}
.disabledtext{color:#CCCCCC;}
.radiochecks ,.radiochecks:Focus{background-color:transparent;color:black; border:0; padding:0px;margin:0px;margin-right:4px;}

.Buttons,.smallButtons {
	background-image: url("image/button-backs.png");
	background-position:0px 0px;
	padding:2px;
	font-size:11px;
	
	background-color:#617389;color:#FFFFFF; font-size: 11px;  font-weight:bold; 
	border: 1px outset #617389;
	cursor:pointer;
}
.Buttons:Focus,.smallButtons:Focus,.Buttons:Hover,.smallButtons:Hover{
	border:1px solid #F99809;
	background-position:0px 20px;
	background-color:#697388;
}
.Buttons[disabled]:Hover,.smallButtons[disabled]:Hover{
	/* first three entries are from disabled, the last are from standard buttons */
	/* this disables hover for disabled buttons */
	background-color:#AAAAAA;color:#EFEFEF; background-image:none;
	border: 1px solid black;
	border-top-color:#999999;
	border-left-color:#999999;
}
.Buttons:Active,.smallButtons:Active{
	border: 1px inset #617389; 
}
.invisibleButtons,.invisibleTextField{
border-style:none;
background-color:transparent;
}
.invisibleButtons{
display:inline;
margin:0;
border:0;
padding:0px;
font-size:9px;
color:#0B63A2;
vertical-align:middle;
cursor: pointer; 
}
.buttonsRight{
	text-align:right
}

.smallButtons{font-size:10px}

.graphicButtons{
margin:0 0 0 3px;
border:0;
padding:0px;
cursor: pointer; 
width:16px;height:16px;
vertical-align:middle;
}
.graphicButtons span{display:none}

.buttonRew{background:url(image/button-rew.png) 0 0 no-repeat;}
.buttonFF{background:url(image/button-ff.png) 0 0 no-repeat;}
.buttonNew{background:url(image/button-new.png) 0 0 no-repeat;}
.buttonEdit{background:url(image/button-edit.png) 0 0 no-repeat;}
.buttonEditDisabled{background:url(image/button-edit-disabled.png) 0 0 no-repeat;}
.buttonPrint{background:url(image/button-print.png) 0 0 no-repeat;}
.buttonPrintDisabled{background:url(image/button-print-disabled.png) 0 0 no-repeat;}
.buttonDelete{background:url(image/button-delete.png) 0 0 no-repeat;}
.buttonDeleteDisabled{background:url(image/button-delete-disabled.png) 0 0 no-repeat;}
.buttonPlus{background:url(image/button-plus.png) 0 0 no-repeat;}
.buttonMinus{background:url(image/button-minus.png) 0 0 no-repeat;}
.buttonMinusDisabled{background:url(image/button-minus-disabled.png) 0 0 no-repeat;}
.buttonUp{background:url(image/button-up.png) 0 0 no-repeat;}
.buttonUpDisabled{background:url(image/button-up-disabled.png) 0 0 no-repeat;}
.buttonDown{background:url(image/button-down.png) 0 0 no-repeat;}
.buttonDownDisabled{background:url(image/button-down-disabled.png) 0 0 no-repeat;}

.buttonShowSQLUp{width:35px;background:url(image/button-sql-up.png) 0 0 no-repeat;}
.buttonShowSQLDown{width:35px;background:url(image/button-sql-down.png) 0 0 no-repeat;}