/* $Rev$ | $LastChangedBy$ */
/* $LastChangedDate$ */

SELECT, INPUT, TEXTAREA, .uneditable, .fieldtext { 
	border: 1px solid #ABB1B1;
	font-size: 11px; padding: 2px;  
	background-color: #F7FAFA;
	vertical-align: middle; font-style:normal;
}
SELECT{padding:0px;}
TEXTAREA:Focus,SELECT:Focus,INPUT:Focus{background-color:white;border-color:black;}
INPUT[disabled],SELECT[disabled]{background-color:#AAAAAA;color:#EEEEEE; background-image:none;}
INPUT[disabled]:Active{border:1px outset black;}
FORM{margin:0px;padding:0px;}

.currency{text-align:right;}
.uneditable,.uneditable:Focus {background-color:transparent; border-color:#ABB1B1;color:#666666;}
.disabledtext{color:#CCCCCC;}
.radiochecks ,.radiochecks:Focus{background-color:transparent;color:black; border:0; padding:0px;margin:0px;margin-right:4px;}

.Buttons,.smallButtons {
	color:white;
	font-weight:bold;
	font-size:12px;
	padding: 2px 6px;
	cursor: pointer;
	vertical-align: middle;
	border:1px solid #454A59;
	border-bottom-color:#2F333D;
	border-top-color:#626876;
	background:#7A8193 url(image/button-back.png) repeat-x;
	height:26px;
}
.smallButtons{font-size:10px;height:23px;background-position:0 -3px;}
.Buttons:Focus,.smallButtons:Focus,.Buttons:Hover,.smallButtons:Hover{
	border-color:#94DA78;
	border:1px solid #BBBBBB;
	border-bottom-color:#6AB948;
	border-top-color:#AEDF9A;
	color:#AEDF9A;
}
.Buttons[disabled]:Hover,.smallButtons[disabled]:Hover{
	/* first two entries are from disabled, the last are from standard buttons */
	/* this disables hover for disabled buttons */
	background:#AAAAAA;
	color:#EFEFEF;
	
	border:1px solid #454A59;
	border-bottom-color:#2F333D;
	border-top-color:#626876;
}

.invisibleButtons,.invisibleTextField{
border-style:none;
background-color:transparent;
}
.invisibleButtons{
display:inline;
margin:0;
border:0;
padding:0px;
font-size:9px;
color:#0B63A2;
vertical-align:middle;
cursor: pointer; 
}
.buttonsRight{
	text-align:right
}

.graphicButtons{
margin:0 0 0 3px;
border:0;
padding:0px;
cursor: pointer; 
width:16px;height:16px;
vertical-align:middle;
}
.graphicButtons span{display:none}

.buttonRew{background:url(image/button-rew.png) 0 0 no-repeat;}
.buttonCheck{background:url(image/button-check.png) 0 0 no-repeat;}
.buttonFF{background:url(image/button-ff.png) 0 0 no-repeat;}
.buttonNew{background:url(image/button-new.png) 0 0 no-repeat;}
.buttonEmail{background:url(image/button-email.png) 0 0 no-repeat;}
.buttonEdit{background:url(image/button-edit.png) 0 0 no-repeat;}
.buttonEditDisabled{background:url(image/button-edit-disabled.png) 0 0 no-repeat;}
.buttonDate{background:url(image/button-date.png) 0 0 no-repeat;}
.buttonMoney{background:url(image/button-money.png) 0 0 no-repeat;}
.buttonMoneyDisabled{background:url(image/button-money-disabled.png) 0 0 no-repeat;}
.buttonPrint{background:url(image/button-print.png) 0 0 no-repeat;}
.buttonPrintDisabled{background:url(image/button-print-disabled.png) 0 0 no-repeat;}
.buttonTime{background:url(image/button-time.png) 0 0 no-repeat;}
.buttonDelete{background:url(image/button-delete.png) 0 0 no-repeat;}
.buttonDeleteDisabled{background:url(image/button-delete-disabled.png) 0 0 no-repeat;}
.buttonPlus{background:url(image/button-plus.png) 0 0 no-repeat;}
.buttonMinus{background:url(image/button-minus.png) 0 0 no-repeat;}
.buttonMinusDisabled{background:url(image/button-minus-disabled.png) 0 0 no-repeat;}
.buttonShip{background:url(image/button-ship.png) 0 0 no-repeat;}
.buttonShipDisabled{background:url(image/button-ship-disabled.png) 0 0 no-repeat;}
.buttonUp{background:url(image/button-up.png) 0 0 no-repeat;}
.buttonUpDisabled{background:url(image/button-up-disabled.png) 0 0 no-repeat;}
.buttonDown{background:url(image/button-down.png) 0 0 no-repeat;}
.buttonDownDisabled{background:url(image/button-down-disabled.png) 0 0 no-repeat;}
.buttonWWW{background:url(image/button-www.png) 0 0 no-repeat;}
.buttonX{background:url(image/button-x.png) 0 0 no-repeat;}
.buttonTimeStamp{background:url(image/button-timestamp.png) 100% 0 no-repeat;padding-right:20px;font-size:11px;margin-right:6px;color:black;width:auto;}
.buttonDownload{background:url(image/button-download.png) 0 0 no-repeat;}

.buttonShowSQLUp{width:35px;background:url(image/button-sql-up.png) 0 0 no-repeat;}
.buttonShowSQLDown{width:35px;background:url(image/button-sql-down.png) 0 0 no-repeat;}

.fieldCurrency{text-align:right;}

#dontSubmit{position:absolute;display:none;}

#createmodifiedby{clear:both}
#savecancel2{float:right;padding:17px 17px 0 0;}
.fieldCreateModify{width:135px;margin-bottom:2px;}
#createdbydiv{float:left;padding:0px 2px 0 0;}