	#menu{
		clear:both;
		padding:0px;
		margin-bottom:15px;
		background:url(image/menu.png);
		color:white;
		height:75px;
	}
	#menu a, #topMenu a:hover{color:white;}
	#menu a{text-decoration:none;}
	#menu a:hover{text-decoration:underline;}

	#menu h1{
		background:none;
		float:left;
		margin:0;
		padding:10px;
		padding-left:15px;
		font-weight:bold;
		font-size:20px;
		border:0;
	}
	
	#menuRighthandButtons{
		font-size:11px;
		float:right;
		padding:9px 10px 0 0;
	}
	#menuRighthandButtons button{margin-left:5px;}

	#menuBar {
		display:block;
		margin:0;
		clear:both;
		background:#697388 url("image/menubar.png") repeat-x;
		border-top:1px solid #8693ae;
		border-bottom:2px solid #444a58;
		text-transform:lowercase;
		padding:0 0 0 15px;
		height:27px;
	}
	#menuBar li{float:left;list-style-type:none;margin:0;padding:0;}
	#menuBar a{
		display:block;
		background-image: url("image/menulinks.png");
		background-position:0px 0px;
		border-right:1px solid #5a6375;
		font-size:12px;
		color:white;
		padding:6px 10px;
	}
	#menuBar a:hover{ 
		background-position:0px 27px;
		text-decoration:none; 
		background-color:#747F96;
	}
	#menuBar .submenuitems li{float:none;}
	.submenuitems{
		clear:left;
		display:none;
		margin-top:3px;
		padding:2px 2px 4px 2px;
		position:absolute;
		background-color:white;
		border:1px solid #999999;
	}
	#menuBar .submenuitems a{
		border:0;
		background-image:none;
		margin:0px;
		display:block; 
		padding:3px 25px 3px 10px;
		font-size:11px;
		color:#663366;
		white-space:nowrap;
	}
	#menuBar .submenuitems .menuSep {border-top:1px solid #CCCCCC; padding-top:3px;margin-top:3px;}
	
	#menuBar .submenuitems a:hover{
		text-decoration:none; 
		background-color:#663366;
		color:white;
	}
	
	#statusmessage{
		background:#0B63A2 url(image/statusm-right.png) bottom right no-repeat;
		margin:15px;
		margin-top:-15px;
		padding:0 5px 0 0;
		display:none;
	}
	#SMLeft{background:url(image/statusm-left.png) bottom left no-repeat;padding-bottom:5px;}
	#SMText{
		background:url("image/statusmessage.png") 7px 5px no-repeat;
		color:white; 
		font-weight:bold; 
		font-size:15px;
		padding: 5px 5px 0px 30px;
	}