#modalMask{
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding:0px;
	margin:0px;
/*	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #AAAAAA; */
}

#modalBox {
	border-top-width:0px;
	padding:4px;
	border-width:2px;
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
}
#modalTitle{
	font-weight: bold;
	font-size:14px;
	padding: 4px;
	padding-left:4px;
	margin:0;

	background-color:#0B63A2;
	color:white; 
	border:0;
}
#modalContent{
	padding:4px;
}