#modalMask{
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding:0px;
	margin:0px;
/*	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #AAAAAA; */
}

#modalBox {
	border-top-width:0px;
	padding:0px;
	border-width:2px;
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
}
#modalTitle{
	font-weight: bold;
	font-size:14px;
	padding: 2px;
	padding-left:4px;

	background-color:#0B63A2;
	color:white; 
	border-right:1px #021746 solid;
	border-left:1px #61B5CD solid;
	border-top:1px #61B5CD solid;
	border-bottom:2px #021746 solid;
	z-index: 203;
	-moz-border-radius:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
}
#modalContent{
	padding:4px;
}