.row1{background-color:#D9DBE1;}
.row2{background-color:white;}

.dottedline { border-bottom: 2px #AAAAAA dotted;}

.buttonSectionTitles,.buttonSection{border: 1px #666666 solid; border-bottom: 0; 
	font-size:11px; padding:1px; padding-bottom:0px; 
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
}
.buttonSection{border-top:0;  padding-top:0; padding-bottom:1px; 	-moz-border-radius:0px;
}

.box{margin-bottom:3px;}
.norecords {background-color:#DDDDDD; font-size:16px; padding:50px; font-weight:bold; }

.querytable{ 
	border: 1px black inset; 
	-moz-border-radius:8px;

}
.querytable td, .queryrow1 td, .queryrow2 td{ 
				border-top:0px;
				border-right: 1px #CCCCCC solid; 
				font-size: 11px;
				padding:4px;
				padding-bottom:2px
			}

.queryheader{
	font-weight:bold;
	background-color:#0B63A2;
	color:white; 
	border-right:1px #021746 solid;
	border-left:1px #61B5CD solid;
	border-bottom:2px #021746 solid;
	padding:4px;
	padding-bottom:2px;
}

.queryheader A{color: white;}
.queryheader A:hover{color: white;}
.queryheader A:active{color: white;}
.queryheader A:visited{color: white;}
.querytable td.queryfooter, .queryfooter{
	background-color:#0B63A2; color:white; 
	font-weight:bold; 
	border-top: 2px #021746 solid; 
	border-left:1px solid #61B5CD; 
	border-right: 1px solid #021746;}

.qr1,.qr2{background-color:#D9DBE1;
			cursor: pointer; 
}
.qr2{background-color:white;}

.qr1:hover, .qr2:Hover {background-color:#999999;}

.qh1, .qh2{background-color:black; cursor: pointer; }
.qh1 td, .qh2 td{color:white; border-right-color: white; border-bottom-color: white;}
.qh1, .qh2{background-color:black; cursor: pointer; }
.qh1 a, .qh2 a{color:white;}


.lineitems td{
	background-color:white;
	padding-left:2px;
	padding-right:2px;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}

.lineitemsRight{ border-right:1px solid #CCCCCC;}
.lineitemsLeft{ border-left:1px solid #CCCCCC;}
.lineitemsBottom{ border-bottom:1px solid #CCCCCC;}

.smallQueryTableHolder{overflow:auto;background-color:#CCCCCC;border:1px inset black;padding:0px;}
.smallQueryTable, .smallQueryTable td{font-size:11px;}
.smallQueryTable th{font-weight:bold;border-bottom:1px solid #999999; border-right:1px solid #999999; padding:2px; padding-left:4px; padding-right:4px;}
.smallQueryTable td{background-color:white;border-bottom:1px solid #CCCCCC; border-right:1px solid #CCCCCC; padding:2px;padding-left:4px; padding-right:4px;cursor:pointer;}
.smallQueryTable tr:Hover td{background-color:#999999;color:white;text-decoration:none;}
.smallQueryTable tr:Hover td a{color:white;}
.smallQueryTableSelected td{background-color:black;color:white}
.smallQueryTableSelected a{color:white}
.smallQueryTable tr.smallQueryTableSelected:Hover  td{background-color:black;color:white}
